<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails about the sample app at the
  <a href="https://www.linkedin.com/in/alton-vieira-02839423b/">contact
    page</a>.
</p>
