<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails at the
  <a href="https://edgeguides.rubyonrails.org/">Rails Tutorial Help page</a>.
  To get help on this sample app, send an msg to
  <a href="https://www.linkedin.com/in/alton-vieira-02839423b/"><em>Alton Vieira</em></a>.
</p>
