
<footer class="footer">
<div class="footer-logo"><%= link_to image_tag("rails.svg", alt: "Rails logo", width:
"200"),
"https://rubyonrails.org/" %></div>
  <small>
    The <a href="https://rubyonrails.org/">Ruby on Rails
      Sample App</a>
    by <a href="https://github.com/Tibic4">Alton Jorge</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",
'#' %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://rubyonrails.org/">News</a></li>
    </ul>
  </nav>
</footer>
